@font-face {
    src: url('Skyfall.ttf');
}

.button{
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-cursor: hand;
}

.ComboBox{
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 19px;
}

.button2{
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 19px;
}

.text {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 16;
}

.label {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Impact;
    -fx-font-size: 20;
}

.WindowName {
    -fx-font-family: "Skyfall";
    -fx-font-size: 90px;
    -fx-fill: #b5b500;
}

.MessageOfTheDay {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 10;
}

.QuitScreen {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
}

.HowToPlay {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
}

.choice-box{
    -fx-background-color: #333;
    -fx-mark-color: white ;
}

.choice-box .context-menu {
    -fx-background-color: #333;
}

.choice-box .menu-item:focused {
    -fx-background-color: black ;
}

.menu-bar {
    -fx-background-color: #333;
}
.menu:showing {
    -fx-background-color: black;
}

.menu-item {
    -fx-background-color: #333;
}
.menu .menu-item:focused {
    -fx-background-color: black;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #333;
}
.list-cell:even:filled:selected:focused, .list-cell:even:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #b5b500 100%);
    -fx-text-fill: white;
}
.list-cell:even {
    -fx-background-color: #333;
}
.list-cell:odd:filled:selected:focused, .list-cell:odd:filled:selected {
    -fx-background-color: linear-gradient(#222 0%, #b5b500 100%);
    -fx-text-fill: white;
}
.list-cell:odd {
    -fx-background-color: #222;
}
.table-view{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #222;
    -fx-table-cell-border-color: white;
}

.table-row-cell:even{
    -fx-background-color: #333;
    -fx-table-cell-border-color: white;
}
.table-view .column-header {
    -fx-background-color: #222;
}

.myDialog{
    -fx-background-color: #404040;
}

.scroll-pane .viewport {
    -fx-background-image: url('backgroundMenu.jpg');
}